.last { font-weight: 900; }
.first { font-weight: 100; color: rgba(255, 255, 255, 0.5);}
.customNav { color: rgb(255, 255, 255) !important; font-family: 'Hind Vadodara', sans-serif; }
.customNav:hover { color: rgba(255, 255, 255, 0.5) !important; }
a.customNav { margin-left: 15px; }
.toggleButton { left: auto; right: 0; }
.navbar-brand, .nav-item { margin-left: 25px; }
.nav-item:nth-child(4) { margin-right: 35px; }
